@model TrialStatusApplication.Models.AdministratorViewModel
@using TrialStatusApplication.Models;
@{
    ViewBag.Title = "Administrator";
}

<div class="container overrideContainerWidth">
    <h2>Administrator: <span class="adminColors">@Model.User.Username</span> - <span class="adminColors">@Model.User.RealName</span></h2>
</div>
<br />
<div class="container overrideContainerWidth">
    <div class="row centerColText">
        @foreach (var judge in Model.Judges)
            {
            <div class="col-md-2 judgeHeader">
                @judge.JudgeName
                <div class="currentCaseHeader">
                    Defendant
                    <div class="currentCaseText">Human Aragon @judge.CurrentTrial.DEFENDANT_NAME</div>
                </div>
                <div class="currentCaseHeader">
                    Prosecuter
                    <div class="currentCaseText">Elf Legolas @judge.CurrentTrial.PROSECUTOR</div>
                </div>
                <div class="currentCaseHeader">
                    Defense Attorney
                    <div class="currentCaseText">Dwarf Gimili @judge.CurrentTrial.DEFENSE_ATTORNEY</div>
                </div>

                <br />

                <div class="currentCaseHeader">
                    Status
                    <br />
                    <div class="currentCaseText">@judge.Status</div>
                    <div class="dropdown dropdownCurrentCustom">
                        <a href="" class="dropdown-toggle dropdownCurrentToggleCustom" data-toggle="dropdown">Change Status<span class="caret"></span></a>
                        <ul class="dropdown-menu  dropdown-menu-right">
                            @foreach (var status in Model.Statuses.StatusList)
                            {
                                <li>
                                    @Html.ActionLink(status.Text, "Update",
                                    new
                                    {
                                        JudgeName = judge.JudgeName,
                                        CurrentTrial = judge.CurrentTrial,
                                        Status = status.Text
                                    })
                                </li>
                            }

                            @*<li><a href="#">Commonwealth Case</a></li>
                                <li><a href="#">Closings</a></li>
                                <li><a href="#">Defense Case</a></li>
                                <li><a href="#">Jury Deliberation</a></li>
                                <li><a href="#">Openings</a></li>
                                <li><a href="#">Verdict</a></li>
                                <li><a href="#">Voire Dire</a></li>*@
                        </ul>

                    </div>
                </div>
            </div>
        }
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th class="tableTextCenter">#</th>
            <th class="tableTextCenter">Judge</th>
            <th class="tableTextCenter">Defendant</th>
            <th class="tableTextCenter">Prosecuter</th>
            <th class="tableTextCenter">Defense Attorney</th>
            <th class="tableTextCenter">Misc. Notes</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Trials != null)
        {
            int count = 1;

            foreach (var trial in Model.Trials)
            {
                <tr>
                    <th class="tableTextCenter" scope="row">@count.ToString()</th>
                    <td class="tableTextCenter">@trial.JUDGE</td>
                    <td class="tableTextCenter">@trial.DEFENDANT_NAME</td>
                    <td class="tableTextCenter">@trial.PROSECUTOR</td>
                    <td class="tableTextCenter">@trial.DEFENSE_ATTORNEY</td>
                    <td class="tableTextCenter">I am a misc note in the cshtml file. @trial.MISCNOTES</td>
                    <td>
                        <div class="dropdown tableTextCenter">
                            <a href="" class="dropdown-toggle dropdownCurrentToggleCustom" data-toggle="dropdown">Assign New Judge<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                @foreach (var judgeName in Model.Judges)
                                {
                                    <li>@judgeName.JudgeName</li>
                                    @*<li>@Html.Action(Model.Judges.ToString(), "AdministratorController") </li>*@
                                }
                            </ul>
                        </div>
                    </td>
                    <td class="tableTextCenter">
                        <div>
                            @Html.ActionLink("Move to Assigned Judge", "Update", "AdministratorController",
                             new
                             {

                             }, new { @class = "btn btn-primary trialButtonCustom" })
                        </div>
                    </td>
                </tr>
                count++;
            }
        }
    </tbody>
</table>





<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<div class="container overrideContainerWidth">
    <div class="row">
        @if (Model.Trials != null)
        {
            int count = 1;
            if (Model.Trials.Count > 0)
            {
                foreach (var trial in Model.Trials)
                {
                    <div class="col-md-6">
                        @count.ToString() )
                        @trial.JUDGE
                        ,
                        @trial.DEFENDANT_NAME
                        ,
                        <b>DA</b> - @trial.PROSECUTOR
                        ,
                        <b>DEF</b> - @trial.DEFENSE_ATTORNEY
                        ,
                        @trial.MISCNOTES
                        <div class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Current Status@*@judge.CurrentTrial.CASE_STATUS*@<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @foreach (var judge in Model.Judges)
                                {
                                    <li><a href="#">@judge.JudgeName</a></li>
                                }
                            </ul>

                            <button type="button" class="btn btn-primary buttonMarginLeft">Advance Case</button>
                        </div>

                    </div>

                    count++;
                }
            }
        }



        <div class="col-md-6">

        </div>

    </div>
</div>



@*<table class="table table-responsive">
        <thead>
            <tr>
                <th>Bortner</th>
                <th>Musti-Cook</th>
                <th>Ness</th>
                <th>Snyder</th>
                <th>Trebilcock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var judge in Model.Judges)
            {
                <tr>
                    <td>
                        @judge.JudgeName
                    </td>
                    <td align="center">
                        <p>@judge.CurrentTrial.DEFENDANT_NAME</p>
                        <p>@judge.CurrentTrial.PROSECUTOR</p>
                        <p>@judge.CurrentTrial.DEFENSE_ATTORNEY</p>
                        <p>@judge.Status</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@



@*<table class="table">
        <tr>
            <th>Defendant</th>
            <th>Prosecutor</th>
            <th>Defense Attorney</th>
        </tr>

        @foreach (var trial in Model.Trials)
        {
            <tr>
                <td>
                    @trial.DEFENDANT_NAME
                </td>
                <td>
                    @trial.PROSECUTOR
                </td>
                <td>
                    @trial.DEFENSE_ATTORNEY
                </td>
            </tr>
        }

    </table>*@

